.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 50px; */
    min-width: 1000px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;
}
.scoreHeader {
    text-align: start;
}
